html {
background-image: url("../images/bg.jpg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: white;
    

}

#div1:{

}
   
input:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
input:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
input:hover {
    color: white;
    background-color: transparent;
}

a:link {
    color: white;

    background-color: transparent;

	text-decoration:none;
}






a:hover {
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #dddddd;
    position: relative;
    vertical-align: top;
}

